<script src="{{ absURL "js/jquery.min.js" }}"></script>
<script src="{{ absURL "js/bootstrap.bundle.min.js" }}"></script>
<script src="{{ absURL "js/jquery.terminal.min.js" }}"></script>
<script src="{{ absURL "js/jquery.magnific-popup.min.js" }}"></script>
<script src="{{ absURL "js/fuse.min.js" | absURL }}"></script>
<script src="{{ absURL "js/jquery.mark.min.js" | absURL }}"></script>

{{ $main := resources.Get "js/main.js" | resources.Minify }}
<script src="{{ $main.RelPermalink }}"></script>

{{ $search := resources.Get "js/search.js" | resources.Minify }}
<script src="{{ $search.RelPermalink }}"></script>

{{ if .IsHome }}
    {{ $terminal := resources.Get "js/terminal.js" | resources.Minify }}
    <script src="{{ $terminal.RelPermalink }}"></script>
    
    {{ $terminal_parser := resources.Get "js/terminal-parser.js" | resources.Minify }}
    <script src="{{ $terminal_parser.RelPermalink }}"></script>
    
    {{ $terminal_completions := resources.Get "js/terminal-completions.js" | resources.Minify }}
    <script src="{{ $terminal_completions.RelPermalink }}"></script>
    
    {{ $terminal_commands := resources.Get "js/terminal-commands.js" | resources.Minify }}
    <script src="{{ $terminal_commands.RelPermalink }}"></script>
{{ end }}