<nav class="navbar navbar-expand-xl mb-4" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/logo.png" alt="logo" width="40" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav text-center text-xl-start">
        <span class="d-none d-xl-block align-self-center">|</span>
        <li class="nav-item">
          <a class="nav-link {{ if .IsHome }}active{{ end }}" aria-current="page" href="/">home</a>
        </li>
        <span class="d-none d-xl-block align-self-center">|</span>
        <li class="nav-item">
          <a class="nav-link {{ if eq .RelPermalink "/taxonomies/" }}active{{ end }}"
            href="/taxonomies/">taxonomies</a>
        </li>
        <span class="d-none d-xl-block align-self-center">|</span>
        <li class="nav-item">
          <a class="nav-link {{ if eq .RelPermalink "/categories/" }}active{{ end }}"
            href="/categories/">categories</a>
        </li>
        <span class="d-none d-xl-block align-self-center">|</span>
        <li class="nav-item">
          <a class="nav-link {{ if eq .RelPermalink "/tags/" }}active{{ end }}" href="/tags/">tags</a>
        </li>
        <span class="d-none d-xl-block align-self-center">|</span>
        <li class="nav-item">
          <a class="nav-link {{ if eq .RelPermalink "/search/" }}active{{ end }}" href="/search/">search</a>
        </li>
        <span class="d-none d-xl-block align-self-center">|</span>
        <li class="nav-item">
          <a class="nav-link {{ if eq .RelPermalink "/bookmarks/" }}active{{ end }}" href="/bookmarks/">bookmarks</a>
        </li>
        <span class="d-none d-xl-block align-self-center">|</span>
        <li class="nav-item">
          <a class="nav-link {{ if eq .RelPermalink "/about/" }}active{{ end }}" href="/about/">about</a>
        </li>
        <span class="d-none d-xl-block align-self-center">|</span>
        <li class="nav-item">
          <a class="nav-link" href="https://www.ajulien.fr/index.xml" target="_blank">rss</a>
        </li>
        <span class="d-none d-xl-block align-self-center">|</span>
        <li class="nav-item">
          <a class="nav-link" href="https://gitlab.com/sysc4ll" target="_blank">gitlab</a>
        </li>
      </ul>
    </div>
  </div>
</nav>