<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->

  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="description"
    content="{{ with .Description }} {{ . }} {{ else }} {{ .Site.Params.description }} {{ end }}">

  <link rel="icon" type="image/png" href="/logo.png">

  <!-- https://gohugo.io/templates/rss/#lookup-order-for-rss-templates -->
  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  <title>{{ .Site.Title }}{{ with .Params.Title }} :: {{ . }}{{ end }}</title>

  {{ $style := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>