<div class="row">
    <div class="text-center mb-4"><i class="fa-solid fa-building-columns fa-2x"></i></div>

    <div class="col-lg-6">
        <div class="alert alert-categories">
            <h1 class="text-center">categories</h1>
        </div>
        <div>
            {{ range .Site.Taxonomies.categories }}
            <span>
                <a href="{{ .Page.Permalink }}" class="category-link text-lowercase">{{ .Page.Title }}</a>
                <span>({{ .Count }});&nbsp;</span>
            </span>
            {{ end }}
        </div>
    </div>

    <div class="col-12 d-block d-lg-none my-4"></div>

    <div class="col-lg-6">
        <div class="alert alert-tags">
            <h1 class="text-center">tags</h1>
        </div>
        <div>
            {{ range .Site.Taxonomies.tags }}
            <span>
                <a href="{{ .Page.Permalink }}" class="tag-link text-lowercase">{{ .Page.Title }}</a>
                <span>({{ .Count }});&nbsp;</span>
            </span>
            {{ end }}
        </div>
    </div>

    <div class="col-12 d-block d-lg-none my-4"></div>
</div>