{{ define "main" }}
<div class="container">
    <div class="text-center mb-4"><i class="fa-regular fa-bookmark fa-2x"></i></div>

    {{ with .Site.GetPage "section" "bookmarks" }}
    {{ $posts := (where .Site.RegularPages "Section" .Section) }}
    {{ $postCount := len $posts }}
    {{ if gt $postCount 1 }}
    <div class="row">
        {{ range .Paginator.Pages }}
        <div class="mb-4">
            <div class="my-border-bottom">
                <h1 class="bookmark-title font-weight-bold text-uppercase mb-2">{{ .Title }}</h1>
                {{ .Content }}
            </div>
        </div>
        {{ end }}
        <div class="d-flex justify-content-end">{{ template "_internal/pagination.html" . }}</div>
    </div>
    {{ end }}
    {{ end }}
</div>
{{ end }}