{{ define "main" }}
<div class="container-fluid">
    <div class="row">
        <div class="document-info">
            <h1 class="document-title"># {{ .Title }}</h1>
            <div class="document-description">
                <span>description : {{ .Description }}</span><br>
                <span>categories :
                    {{ $taxonomy := "categories" }}
                    {{ with .GetTerms $taxonomy }}
                    {{ range . }}
                    <a href="{{ .RelPermalink }}" class="category-link text-lowercase">{{ .LinkTitle }}</a>;
                    {{ end }}
                    {{ end }}
                </span><br>
                <span>tags :
                    {{ $taxonomy := "tags" }}
                    {{ with .GetTerms $taxonomy }}
                    {{ range . }}
                    <a href="{{ .RelPermalink }}" class="tag-link text-lowercase">{{ .LinkTitle }}</a>;
                    {{ end }}
                    {{ end }}
                </span>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="document-content mt-2">
                <div class="mt-4">{{ .Content }}</div>
            </div>
        </div>
    </div>
</div>
{{ end }}