{{ define "main" }}
<div class="container">
    <div class="text-center mb-4"><i class="fa-solid fa-book fa-2x"></i></div>

    {{ if eq .Data.Plural "categories" }}
    <div class="alert alert-categories col-lg-6 mx-auto">
        <h1 class="text-center text-lowercase">{{ .Title }}</h1>
    </div>
    <div class="col-lg-6 mx-auto">
        {{ range .Site.Taxonomies.categories }}
        <span><a href="{{ .Page.Permalink }}" class="category-link text-lowercase">{{ .Page.Title }}</a><span> ({{
                .Count
                }})</span>;</span>
        {{ end }}
    </div>
    {{ end }}

    {{ if eq .Data.Plural "tags" }}
    <div class="alert alert-tags col-lg-6 mx-auto">
        <h1 class="text-center text-lowercase">{{ .Title }}</h1>
    </div>
    <div class="col-lg-6 mx-auto">
        {{ range .Site.Taxonomies.tags }}
        <span><a href="{{ .Page.Permalink }}" class="tag-link text-lowercase">{{ .Page.Title }}</a><span> ({{ .Count
                }})</span>;</span>
        {{ end }}
    </div>
    {{ end }}
</div>
{{ end }}