{{ define "main" }}
<div class="container">
    <div class="text-center mb-4"><i class="fa-solid fa-book fa-2x"></i></div>

    {{ if eq .Data.Plural "categories" }}
    <div class="alert alert-categories col-lg-6 mx-auto">
        <h1 class="text-center text-lowercase">{{ .Title }}</h1>
    </div>
    {{ end }}

    {{ if eq .Data.Plural "tags" }}
    <div class="alert alert-tags col-lg-6 mx-auto">
        <h1 class="text-center text-lowercase">{{ .Title }}</h1>
    </div>
    {{ end }}

    {{ range .Paginator.Pages }}
    <p>
        <span><i class="fa-regular fa-file align-middle"></i> <a href="{{ .Permalink }}" class="taxo-title">{{ .Title
                }}</a></span>
        <span> : {{ .Description }}</span>
    </p>
    {{ end }}

    <div class="d-flex justify-content-end">{{ template "_internal/pagination.html" . }}</div>
</div>
{{ end }}