.document-title {
    color: $document-title-color;
    font-weight: bold;
    font-size: 2.5rem;
}

.document-content {
    border-top: 2px solid $document-title-color;

    h1:before {
        content: "# ";
    }

    h1 {
        font-size: 2rem;
        color: $document-header-color;

        @extend .my-4;
    }

    h2:before {
        content: "## ";
    }

    h2 {
        font-size: 2rem;
        color: $document-header-color;

        @extend .my-4;
    }

    h3:before {
        content: "### ";
    }

    h3 {
        font-size: 2rem;
        color: $document-header-color;

        @extend .my-4;
    }

    h4:before {
        content: "#### ";
    }

    h4 {
        font-size: 2rem;
        color: $document-header-color;

        @extend .my-4;
    }

    h5:before {
        content: "##### ";
    }

    h5 {
        font-size: 2rem;
        color: $document-header-color;

        @extend .my-4;
    }

    .highlight {
        border: 1px solid $body-color;

        pre {
            margin-bottom: 0;
        }

        @extend .mb-4;

        padding: 10px;

        table {
            display: block;
            overflow: auto;
        }
    }
}