@import "./variables";

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all";
@import "../../node_modules/jquery.terminal/css/jquery.terminal";
@import "../../node_modules/magnific-popup/dist/magnific-popup";

@import "./navbar";
@import "./terminal";
@import "./documents";
@import "./misc";

html,
body {
    height: 100%;
}

.alert-categories {
    box-shadow: 0 0 10px 2px $color-categories;
    color: #000;
    background-color: $color-categories;
    padding: 0.5rem;

    @extend .mb-4;

    h1 {
        font-size: 2rem;
        font-weight: bold;
    }
}

.alert-tags {
    box-shadow: 0 0 10px 2px $color-tags;
    color: #000;
    background-color: $color-tags;
    padding: 0.5rem;

    @extend .mb-4;

    h1 {
        font-size: 2rem;
        font-weight: bold;
    }
}

.category-link {
    color: $color-categories;
    text-decoration: none;

    &:hover {
        background: $color-categories;
        color: #000;
    }
}

.tag-link {
    color: $color-tags;
    text-decoration: none;

    &:hover {
        background: $color-tags;
        color: #000;
    }
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-color-active;
    }

    &.active {
        color: $link-color-active;
    }
}

b,
strong {
    font-weight: bolder;
    color: #fff;
}

#search-results {
    h1 {
        font-size: 2rem;
    }

    mark {
        background: none;
        color: inherit;
        padding: 0;
        text-decoration: solid underline $link-color-active 4px;
    }
}

.my-border-bottom {
    border-bottom: 4px solid $body-color;
}

.bookmark-title {
    color: $document-title-color;
    font-size: 2rem;
}

.pagination {
    .page-item {
        .page-link {
            background: $body-bg;
            border-color: $body-color;
        }
    }

    .page-item.disabled {
        .page-link {
            background: $body-bg;
            border-color: $body-color;
        }
    }

    .page-item.active {
        .page-link {
            background: $body-bg;
            border-color: $body-color;
            color: $link-color-active;
        }
    }
}

