.navbar {
    border-bottom: 1px solid $link-color;
    padding: 0;

    .navbar-brand {
        margin-right: 0;
    }

    a.nav-link {
        color: $link-color;
        text-decoration: none;

        &:hover {
            color: $link-color-active;
        }

        &.active {
            color: $link-color-active;
        }
    }

    .navbar-toggler {
        border-color: $link-color;
    }

    i.fa-bars {
        color: $link-color;
    }
}