$body-bg: #252422;
$body-color: #ccc;

$link-color: #00a8e8;
$link-color-active: #ff193b;

$color-categories: #845ec2;
$color-tags: #5dd39e;

$document-title-color: #ff193b;
$document-header-color: #ff5dcd;

$font-size-base: 1.2rem;