{{ define "main" }}
<noscript>
  <p class="text-center">for best experience on this website, you have to enable JavaScript :)</p>
</noscript>

<div class="container">
  <div id="terminal" class="d-none d-xl-block"></div>
  <div class="d-block d-xl-none">{{ partial "list-taxonomies.html" . }}</div>
</div>
{{ end }}