---
title: "about"
slug: "about"
layout: "single"
---

<div class="container">
    <div class="row">
        <div class="text-center mb-4"><i class="fas fa-user fa-2x"></i></div>

        <div class="col-lg-4 align-self-center mb-4 mb-lg-0">
            <img src="/sysc4ll.png" alt="sysc4ll's image" class="img-thumbnail mx-auto d-block" style="max-width:250px">
        </div>

        <div class="col-lg-8 align-self-center">
            <p>Autodidacte, passionné d'informatique et plus particulièrement de sécurité, de programmation et
                d'administration sur les systèmes d'exploitation de type GNU/Linux ou BSD. Welcome ! :)</p>
            <p>Étant à la recherche d'un emploi, je vous laisse mon email : <a
                    href="mailto:hello@ajulien.fr">hello@ajulien.fr <i class="fas fa-envelope"></i></a>.</p>
            <p>
                <span>Je n'utilise aucun <a href="https://fr.wikipedia.org/wiki/Cookie_(informatique)"
                        target="_blank">cookie <i class="fas fa-external-link-alt"></i></a>,</span>
                <span>ni même de <a href="https://fr.wikipedia.org/wiki/R%C3%A9f%C3%A9rent_(informatique)"
                        target="_blank">referer <i class="fas fa-external-link-alt"></i></a>.</span>
            </p>
            <p>
                <span>Les articles contenus sur ce site sont sous la license :</span>
                <span>
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons
                        Attribution-ShareAlike 4.0 International License <i class="fas fa-external-link-alt"></i></a>.
                </span>
            </p>
        </div>
    </div>
</div>