---
title: "search"
slug: "search"
layout: "single"
---

<div class="container">
    <div class="row">
        <div class="text-center mb-4"><i class="fa-solid fa-magnifying-glass fa-2x"></i></div>

        <noscript>
            <p class="text-center">for use this search feature and for best experience, you have to enable JavaScript :)</p>
        </noscript>

        <div class="row mb-4">
            <form action="/search/" method="get">
                <input id="search-query" name="s" class="form-control">
            </form>
        </div>

        <div class="row">
            <div id="search-results"></div>
        </div>

        <div class="row">
            <script id="search-result-template" type="text/x-js-template">
                <div id="summary-${key}" class="mb-4">
                    <h1><a href="${link}">${title}</a></h1>
                    <p>
                        description: ${description}<br>
                        categories: ${categories}<br>
                        tags: ${tags}
                    </p>
                    <div class="my-border-bottom"></div>
                </div>
            </script>
        </div>
    </div>
</div>